<div class="login-page">
    <div class="form">
        <form class="login-form" id="register-form">
            <input type="text" placeholder="name" id="name" />
            <input type="email" placeholder="email" id="email" />
            <input type="password" placeholder="password" id="password" />
            <button type="submit">signup</button>
            <p class="message">Already registered?
                <a href="/">Signin</a></p>
        </form>
    </div>
</div>